@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

:root {
    --fonte-principal: 'Hind Madurai', sans-serif;
    --fonte-grande: 2em;

    --cor1: #C1A866;
    --cor2: #3C0909;
    --cor3: #D9D9D9;
}

* {
    font-family: var(--fonte-principal);
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    min-height: 112px;
}

.cabecalho {
    min-height: 112px;
    position: relative;
    text-align: center;
    color: var(--cor2);
    font-weight: bold;
    background: var(--cor1);
}

#titulo {
    font-size: var(--fonte-grande);
}

#site-search {
    margin-top: 5px;
    height: 35px;
    width: 100%;
    border-radius: 10px;
}

#site-search:focus {
    outline: none;
}

#pesquisa {
    display: inline-block;
    position: absolute;
    margin: 12px 0px 0px -25px;
}

#usuario {
    position: absolute;
    margin-top: 15px;
}

.dropdown {
    display: inline-block;
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content > a {
    text-decoration: none;
    color: var(--cor2);
}

.dropdown2{
    position: relative;
}

.dropdown2 > a {
    text-decoration: none;
    color: var(--cor2);
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-width: 64px;
    z-index: 1;
    top: 0;
    left: 100%;
}

.dropdown2:hover .sub-dropdown-content {
    display: block;
}

.sub-dropdown-content > a {
    display: block;
    text-decoration: none;
    color: var(--cor2);
}

#contatos {
    display: inline-block;
    position: absolute;
    margin-left: 35px;
}

#fav-icone {
    display: inline-block;
    position: absolute;
    margin: 80px 0px 0px 125px;
}

#fav-icone > i {
    padding: 2px;
}

#cep {
    position: absolute;
    margin-top: 80px;
}

nav {
    min-height: 53px;
}

.menu {
    min-height: 53px;
    text-align: center;
    background-color: var(--cor3);
}

.menu a {
    text-decoration: none;
    color: black;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: var(--cor1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-width: 229px;
    z-index: 1;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown-content2 > a {
    display: block;
    text-decoration: none;
    color: var(--cor2);
}

/* Estilos específicos para telas menores que 600px */
@media (max-width: 1000px) {
    .row {
      flex-direction: column;
    }

    .col-3 > img {
      margin-bottom: 10px;
    }

    #site-search {
      width: 100%;
    }

    .col-3 i {
      display: none;
    }

    .dropdown-content,
    .sub-dropdown-content {
      position: static;
      display: block;
      box-shadow: none;
    }
}
