@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

:root {
    --fonte-principal: 'Hind Madurai', sans-serif;
    --fonte-grande: 2em;

    --cor1: #8A1515;
    --cor2: #572727;
    --cor3: #3C0909;
    --cor4: #8A3E3E;
    --cor5: #D62020;
    --cor6: #C1A866;
    --cor7: #3D3D0F;
}

* {
    font-family: var(--fonte-principal);
}

body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to left, var(--cor3), var(--cor2));
}

main {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    padding: 10px;
    margin-top: 130px;
}

main header {
    text-align: center;
    background-color: var(--cor4);
}

form {
    text-align: center;
    background-color: var(--cor2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

form > div {
    position: absolute;
    margin-left: 23px;
    font-weight: bold;
}

form label {
    color: var(--cor4);
}

form input {
    width: 90%;
}

input.btn {
    background-color: var(--cor4);
    color: var(--cor2);
    border: none;
    border: 10px;
}

input.btn:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

form > span {
    color: var(--cor5);
}

form a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);    
}

form a:hover {
    color: var(--cor5);
}