@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

:root {
    --fonte-principal: 'Hind Madurai', sans-serif;
    --fonte-grande: 2em;

    --cor1: #3C0909;
    --cor2: #c1a866;
    --cor3: #d9d9d9;
    --cor4: #66666e;
    --cor5: #80727b;
}

* {
    font-family: var(--fonte-principal);
}

body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor4));
}

main {
    max-width: 500px;
    max-height: 640px;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
}

main header {
    text-align: center;
    background-color: var(--cor2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

form {
    text-align: center;
    background-color: var(--cor3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

form > div {
    position: absolute;
    margin-left: 23px;
    font-weight: bold;
}

form input {
    width: 90%;
    border: none;
    border-radius: 10px;
}

input.btn {
    background-color: var(--cor5);
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

input.btn:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}    

a.btn {
    background-color: var(--cor5);
    margin-bottom: 10px;
    width: 90%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

a.btn:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}